<div class="form-row">
  <%= f.label :street %>
  <%= f.text_field :street, placeholder: 'Street', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :city %>
  <%= f.text_field :city, placeholder: 'City', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :zip %>
  <%= f.text_field :zip, placeholder: 'Zip', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :state %>
  <%= f.text_field :state, placeholder: 'State', class: 'form-control' %><br><br><br>
</div>