<%= form_tag filter_storage_units_path, method: :get, remote: true do |f| %>

    <div>
      <% Amenity.all.each do |amenity| %>
        <div>
          <%= check_box_tag 'filters[]', amenity.feature, false, class: 'storage_unit_filters' %>
          <%= amenity.feature %>
        </div>
      <% end %>
    </div><br>

  <div>
    <h5>Sort By:</h5>
    <div>
      <%= radio_button_tag :sort_by, 'name', false, class: 'storage_unit_filters' %>
      <label for="name">Name</label>
    </div>
    <div>
      <%= radio_button_tag :sort_by, 'rating', false, class: 'storage_unit_filters' %>
      <label for="rating">Rating</label>
    </div>
  </div>

  <%= hidden_field_tag 'city_zip', params[:city_zip] if params[:city_zip].present? %>

  <button type="submit" id="filter-btn" style="display: none;"></button>

<% end %>