  
<div class="form-row"><br>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :rating %>
  <%= f.text_field :rating, placeholder: 'rating', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :about %>
  <%= f.text_field :about, placeholder: 'About', class: 'form-control' %><br><br><br>
</div>
<div class="form-row">
  <%= f.label :contact_no %>
  <%= f.text_field :contact_no, placeholder: 'Contact No', class: 'form-control' %><br><br><br>
</div>
