<h1>Storage Units</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 25%"></th>
      <th style="width: 40%"><h6>Details</h6></th>
      <th style="width: 35%"><h6>Units</h6></th>
    </tr>
  </thead>

  <tbody>
    <% @storage_units.each do |storage_unit| %>
      <tr>
        <td>
          <a class="custom-href" href="<%= storage_unit_path(storage_unit) %>" data-turbolinks="false">
            <%= image_tag storage_unit.images.first.variant(resize: "100x100") if storage_unit.images.present? %>
          </a>
        </td>

        <td>
          <a class="custom-href custom-link" href="<%= storage_unit_path(storage_unit) %>" data-turbolinks="false">
            <span class="unit-detail unit-name"><%= storage_unit.name %></span>
            <span class="unit-detail unit-address"><%= get_address(storage_unit) %></span>
            <span class="unit-detail unit-contact">Contact: <%= storage_unit.contact_no %></span>
            <span class="unit-detail unit-rating"><%= storage_unit.rating %> out of 5</span>
          </a>
        </td>

        <td>
          <% storage_unit.units.take(3).each do |unit| %>
            <h6><%= unit.size %><h6>
            <div><hr></div>
          <% end %>
          <a class="custom-href custom-link" style="color: #c00" href="<%= storage_unit_path(storage_unit) %>" data-turbolinks="false">
            <span class="unit-detail unit-rating">Find more units at this facility</span>
          </a>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @storage_units %>