<table class="table table-striped table-bordered">
  <thead>
    <th style="width: 15%"></th>
    <th style="width: 15%"><h6><%= t(:size) %></h6></th>
    <th style="width: 40%"><h6><%= t(:amenities) %></h6></th>
    <th style="width: 20%"><h6><%= t(:rates) %></h6></th>
  </thead>

  <% units.each do |unit| %>
    <tr>
      <%= render partial: 'units/details', locals: {unit: unit} %>
    </tr>
  <% end %>
</table>

<div class="pagination">
  <%= js_will_paginate units %>
</div>