<div class="container">
  <br><br><h1>New Storage Unit</h1>

  <%= form_for @storage_unit do |f| %>
    <%= render partial: 'form', locals: {f: f} %>

    <div class="form-row">
      <%= f.label :images %>&emsp;
      <%= f.file_field :images, multiple: true %><br><br><br>
    </div>

    <div class="row">
      <button type="submit" class="col-md-auto btn btn-primary pull-left ">Save</button><br>
      <button class="col-md-auto btn btn-default pull-right" style="margin-left: 85%">
        <%= link_to 'Back', storage_units_path %>
      </button>
    </div>
  <% end %>
</div>