<div class="container">
  <h1><%= @storage_unit.name.upcase %>

  <div>
    <h5>Address: <%= get_address(@storage_unit) %></h5>
  </div>

  <div>
    <h5>Contact: <%= @storage_unit.contact_no %></h5>
  </div>

  <div>
    <h6>Rating: <%= @storage_unit.rating %></h6>
  </div>

  <div>
    <h6>About: <%= @storage_unit.about %></h6>
  </div>

  <div>
    <% @storage_unit.images.each do |image| %>
      <%= image_tag image.variant(resize: "300x300") %> &emsp;
    <% end %><br><br>
  </div>

  <div>
    <%= render partial: 'provided_amenities', locals: {storage_unit: @storage_unit} %><br>
  </div>

  <div>
    <h4>Units</h4>
    <div class="row">
      <div class="col-2" style="margin-left: 20px">
        <h6>Unit sizes</h6>
        <%= select_tag :filter_units_by_size, options_for_select(load_size(@storage_unit)), include_blank: 'Please select' , class: 'form-group form-control custom-select', storage_unit_id: @storage_unit.id %>
      </div>
      <div class="col-2" style="margin-left: 20px">
        <h6>Amenities</h6>
        <%= select_tag :filter_units_by_amenity, options_for_select(load_amenities(@storage_unit)), include_blank: 'Please select' , class: 'form-group form-control custom-select', storage_unit_id: @storage_unit.id %>
      </div>
    </div>
    <div id="unit_list_div">
      <%= render partial: 'unit_list', locals: {units: @storage_unit.units} %>
    </div>
  </div>

</div>