<div class="container">
<div class="row">
  <div class="col-md-8">
    <h1 class="name-heading"><%= @storage_unit.name.upcase %> </h1>
    <div>
      <div class="address">
        <h5><%= get_address(@storage_unit) %>&emsp;-&emsp;</h5>
      </div>

      <div class="contact">
        <h5 style="color: #c00"><%= @storage_unit.contact_no %></h5>
      </div>
    </div>

    <div class="rating">
      <h5 style="color: #c00"><%= @storage_unit.rating %> out of 5</h5>
    </div>

    <div class="about">
      <h5><%= t(:about) + ' ' + @storage_unit.name %></h5>
      <p class="about-content"><%= @storage_unit.about %></p>
    </div>
    <div>
        <% image1 = rand(1..10).to_s %>
        <% image2 = rand(11..20).to_s %>
        <%= image_tag (image1 + '.jpg'), size: '100x100' %> &emsp;
        <%= image_tag (image2 + '.jpg'), size: '100x100' %> &emsp;
      <br><br>
    </div>
  </div>

  <div class="col-md-4 facility_amenities">
    <%= render partial: 'provided_amenities', locals: {storage_unit: @storage_unit} %><br>
  </div>
</div>

  <div>
    <div class="unit-section">
      <h4 style="font-size: 18px;"><%= t(:available_units) %>:</h4>
      <div class="row">
        <div class="col-2">
          <h6><%= t(:unit_sizes) %></h6>
          <%= select_tag :filter_units_by_size, options_for_select(load_size(@storage_unit)), include_blank: t(:please_select) , class: 'form-group form-control custom-select', storage_unit_id: @storage_unit.id %>
        </div>
        <div class="col-2" style="margin-left: 20px">
          <h6><%= t(:amenities) %></h6>
          <%= select_tag :filter_units_by_amenity, options_for_select(load_amenities(@storage_unit)), include_blank: t(:please_select) , class: 'form-group form-control custom-select', storage_unit_id: @storage_unit.id %>
        </div>
      </div>
    </div>
    <div id="unit_list_div">
      <%= render partial: 'unit_list', locals: {units: @units} %>
    </div>
  </div>

</div>