  <td>
    <%= image_tag unit.images.first.variant(resize: "100x100") if unit.images.present? %>
  </td>

  <td>
    <br><span class="unit-detail unit-name text-centered"><%= unit.size %></span>
    <span class="unit-detail unit-name text-centered">Unit</span>
  </td>

  <td>
    <span class="unit-detail unit-name" style="color: green"><%= unit.offer %></span><br>
    <% unit.amenities.each do |amenity| %>
      <span class="unit-detail unit-rating"><%= amenity.feature %></span><br>
    <% end %>
  </td>

  <td>
    <br><span class="unit-detail unit-name text-centered"><%= '$' + unit.rate.to_s %></span><br>
    <span class="unit-detail unit-rating text-centered" style="color: #c00">Per Month</span>
  </td>