  <td>
    <% image = 'u' + rand(1..6).to_s %>
    <%= image_tag (image + '.png'), size: '100x100' %>
  </td>

  <td>
    <br><span class="unit-detail unit-name text-centered"><%= unit.size %></span>
    <span class="unit-detail unit-name text-centered"><%= t(:unit) %></span>
  </td>

  <td>
    <span class="unit-detail unit-name" style="color: green"><%= unit.offer %></span><br>
    <% unit.amenities.each do |amenity| %>
      <span class="unit-detail unit-rating"><%= amenity.feature %></span><br>
    <% end %>
  </td>

  <td>
    <br><span class="unit-detail unit-name text-centered"><%= t(:currency) + unit.rate.to_s %></span><br>
    <span class="unit-detail unit-rating text-centered" style="color: #c00"><%= t(:per_month) %></span>
  </td>