<!DOCTYPE html>
<html>
  <head>
    <title>SelfStorage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" style="background-color: currentColor">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to t(:home), root_path, class: "navbar-brand", style: 'color:white' %>
        </div>
        <div class='nav-right'>
          <%= radio_button_tag 'locale', 'en', I18n.locale == :en, class: 'storage_unit_filters', onchange: 'changeLocale(this)' %>
          <label for="name" style="color: white;">en</label>

          <%= radio_button_tag 'locale', 'jp', I18n.locale == :jp, class: 'storage_unit_filters', onchange: 'changeLocale(this)' %>
          <label for="name" style="color: white;">jp</label>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
